<div id="<%= dom_id publication %>">
  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= publication.created_at %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= publication.category %>
  </p>


  <p>
    <strong>Comments:</strong>
    <% publication.comments.each_with_index do |comment, index| %>
        <p> Comment #<%=index + 1%>: <%= comment.description %> </p>
        
    <% end %>
  </p>
  

</div>